.photo-uploader__container {
  display: flex;
}
.photo-uploader__button {
  padding: 14px 15px;
  border-radius: 4px 0 0 4px;
}
.photo-uploader__content-box {
  display: block;
  flex-grow: 1;
  padding: 14px 16px;
  border-left: none;
  border-radius: 0 4px 4px 0;
}


