@import "../../styles/scss/utils/colors";

.avatar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: $color-bg-white;
  overflow: hidden;
}

