.header__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 13px 0;
}
.header__buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 10px;
  margin-left: 10px;

}
