 .input__wrapper{
   position: relative;
   padding: 14px 16px;
   border-radius: 4px;
}
.label__text {
  position: absolute;
  padding: 2px 4px;
  pointer-events: none;
  left: 16px;
  transition: top 0.3s ease, font-size 0.3s ease, line-height 0.3ms ease;
}
 .input__field{
   width: 100%;
 }

.label--focused .label__text,
.input__field:focus + .label__text,
.input__field:not(:placeholder-shown) + .label__text {
  top: -10px;
}
