@import "../../styles/scss/utils/colors";


.nav-bar {
  padding-top: 20px;
  padding-bottom: 20px;

}
.list {
  display: flex;
  justify-content: flex-end;
  gap:40px
}

.active > p {
  color: $color-text-primary;
  border-bottom: 3px solid $color-text-primary;
}
