$color-primary: #F4E041;
$color-secondary: #00BDD3;

$color-border-main: #000000DE;
$color-border-secondary: #D0CFCF;
$color-border-accent: #00BDD3;
$color-border-error: #CB3D40;

$color-bg-white: #FFFFFF;
$color-bg-light-grey: #F8F8F8;
$color-bg-grey: #B4B4B4;
$color-bg-primary: #F4E041;
$color-bg-primary-hover: #FFE302;
$color-bg-secondary: #00BDD3;
$color-bg-secondary-hover: #00A6B8;

$color-text-main: #000000DE;
$color-text-secondary: #7E7E7E;
$color-text-accent: #00BDD3;
$color-text-error: #CB3D40;
$color-text-white: #FFFFFFDE;

