$font-family-main: 'Nunito', sans-serif;

$breakpoint-mob: 360px;
$breakpoint-tablet-start: 361px;
$breakpoint-tablet-end: 768px;
$breakpoint-desktop-start: 769px;
$breakpoint-desktop-end: 1024px;

$font-size-sm: 12px;
$font-size-md: 16px;
$font-size-lg: 40px;

$font-size-btn: 16px;

$font-weight-regular: 400;

$line-height-xs: 1;
$line-height-sm: calc(14 / 12);
$line-height-md: calc(26 / 16);
$line-height-lg: calc(76 / 40);

$line-height-btn: calc(26 / 16);
